<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div id="app" v-cloak>
    名前 <input v-model="name">
    <button v-on:click="doAdd">モンスターを追加</button>
    <ul>
        <li v-for="(item,index) in list" v-bind:key="item.id" v-if="item.hp">
            ID.{{item.id}} {{item.name}} HP.{{item.hp}}
            <span v-if="item.hp < 50">瀕死</span>
            <button v-on:click="doAttack(index)">攻撃する</button>
            <button v-on:click="doRemove(index)">モンスターを削除</button>
        </li>
    </ul>
    <span v-for="item in text">{{ item }}</span>
    <a v-bind:href="url" v-once>
        Hello {{ message }}
    </a>
    <p v-text="message"></p>
    <button v-on:click="handleClick">クリック</button>
    <input v-bind:value="message" v-on:input="handleInput">
    <div v-on:click.right="handler">example</div>
    <div v-on:click.right.prevent="handler">右クリックしたときのメニューを表示させない</div>
    <p>.stop(イベントを連鎖させない)</p>
    <div v-on:click="handler('div1')">
        div1
        <a href="#top" v-on:click.stop="handler('div2')">div2</a>
    </div>
    <p>.prevent（リンクの）遷移などの処理をキャンセル）ハッシュが更新されない</p>
    <div v-on:click="handler('div1')">
        div1
        <a href="#top" v-on:click.prevent="handler('div2')">div2</a>
    </div>
    <p>.capture(captureを指定したイベントが先にうごく)</p>
    <div v-on:click.capture="handler('div1')">
        div1
        <div v-on:click="handler('div2')">
            div2
            <div v-on:click="handler('div3')">div3</div>
        </div>
    </div>
    <p>.self (event.targetが自分自身のときだけうごく)　モーダルウインドウの背景をクリックして閉じる場合などに使用</p>
    <p>.native(DOMイベントでも$emitを使用しなければ呼び出されなくなる)</p>
    <p>passive(event.preventDefault()を呼び出さないことを明示的にする)</p>
    <h3>キー修飾子 複数した場合はOR</h3>
    <p>up,down,left,rightを指定していずれかの矢印キーが押されたとき</p>
    <input v-on:keydown.up.down.left.right="handler">
    <h3>システム修飾子</h3>
    <p>対応するキーが押されている場合にのみハンドラーが呼び出される</p>
    <button v-on:click.shift="handler">Shiftを押しながらクリックした場合にのみイベント</button>
    <h2>フォーム入力バインディング</h2>
    <p>v-modelでデータバインディング、イベントハンドリング、データの反映を自動化</p>
    <input v-model="message">
    <p>{{message}}</p>
    <textarea v-model="message"></textarea>
    <p>単一要素</p>
    <label><input type="checkbox" v-model="val">{{val}}</label>
    <p>単一要素に値を設定する場合</p>
    <label><input type="checkbox" v-model="val2" true-value="yes" false-value="no">{{val2}}</label>
    <p>複数要素 チェックしているチェックボックスの値が配列に格納される</p>
    <label><input type="checkbox" v-model="val3" value="A"> A</label>
    <label><input type="checkbox" v-model="val3" value="B"> B</label>
    <label><input type="checkbox" v-model="val3" value="C"> C</label>
    <p>画像ファイル</p>
    <input type="file" v-on:change="handleChange">
    <div v-if="preview"><img v-bind:src="preview"></div>
    <p>HTML5の入力タイプ</p>
    <p>range</p>
    <input type="range" v-model.number="val4">{{val4}}
    <h3>修飾子</h3>
    <p>.number（数値に変換してから代入）</p>
    <input type="text" v-model.number="price">{{price}}
    <p>.lazy（changeイベント　フォーカスが外れるかenterが押されたら同期）</p>
    <input type="text" v-model.lazy="test"> {{test}}
    <p>.trim(文字列の前後につく改行やスペースを削除してから代入)</p>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>